@model RazorMVC.Models.Produto

@{
    ViewData["Title"] = "Details";
    string descrição = string.IsNullOrEmpty(Model.Descrição) ? "(Nenhuma descrição cadastrada)" : Model.Descrição;
    string fornecedor = "(Nenhum fornecedor cadastrado)";
    if (Model.Fornecedor != null)
    {
        fornecedor = Model.Fornecedor.Nome;
        fornecedor += Model.Fornecedor.Telefone != null ? $" (Telefone: {Model.Fornecedor.Telefone})" : " (Sem telefone cadastrado)";
    }
}

<h5 class="partial-view-title">Detalhes</h5>

<div class="custom-subtitle">Especificações do Produto:</div>
<div>
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Nome):
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Descrição):
        </dt>
        <dd class = "col-sm-8">
            @descrição
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Preço):
        </dt>
        <dd class = "col-sm-8">
            R$@Html.DisplayFor(model => model.Preço)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Fornecedor):
        </dt>
        <dd class = "col-sm-8">
            @fornecedor
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.DataDeCriação):
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.DataDeCriação)
        </dd>
    </dl>
</div>
<form>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Editar</a>
    <a asp-action="Index" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Voltar</a>
</form>
