@model RazorMVC.Models.Produto

@{
    ViewData["Title"] = "Detalhes";
    string descrição = string.IsNullOrEmpty(Model.Descrição) ? "(Nenhuma descrição cadastrada)" : Model.Descrição;
    string fornecedor = "(Nenhum fornecedor cadastrado)";
    if (Model.Fornecedor != null)
    {
        fornecedor = Model.Fornecedor.Nome;
        fornecedor += Model.Fornecedor.Telefone != null ? $" (Telefone: {Model.Fornecedor.Telefone})" : " (Sem telefone cadastrado)";
    }
}

<h5 class="partial-view-title">Detalhes</h5>

<table class="table table-bordered table-striped">
    <div class="custom-subtitle">Especificações técnicas:</div>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome):
        </th>
        <td>
            @Html.DisplayFor(model => model.Nome)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descrição):
        </th>
        <td>
            @descrição
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Preço):
        </th>
        <td>
            R$@Html.DisplayFor(model => model.Preço)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fornecedor):
        </th>
        <td>
            @fornecedor
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DataDeCriação):
        </th>
        <td>
            @Html.DisplayFor(model => model.DataDeCriação)
        </td>
    </tr>

</table>
<form>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-success"><i class="bi bi-pencil-square"></i> Editar</a>
    <a asp-action="Index" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Voltar</a>
</form>
