@model IEnumerable<RazorMVC.Models.Produto>

@{
    ViewData["Title"] = "Produtos";
}

<h1>Índice de Produtos</h1>

<div class="custom-container" style="padding:0px;">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descrição)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Preço)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fornecedor)
                </th>
                <th>
                    Ações
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @(item.Descrição != null ? @Html.DisplayFor(modelItem => item.Descrição) : "(Sem descrição)")
                    </td>
                    <td>
                        R$@Html.DisplayFor(modelItem => item.Preço)
                    </td>
                    <td>
                        @(item.Fornecedor != null ? @Html.DisplayFor(modelItem => item.Fornecedor.Nome) : "(Sem fornecedor)")
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success btn-sm"><i class="bi bi-pencil-square"></i></a>
                        <a type="button" class="btn btn-primary btn-sm open-modal-button" data-url="@Url.Action("LoadPartialView", "Produtos", new { id = item.Id, view = "Details" })"><i class="bi bi-eye-fill"></i></a>
                        <a type="button" class="btn btn-danger btn-sm open-modal-button" data-url="@Url.Action("LoadPartialView", "Produtos", new { id = item.Id, view = "Delete" })"><i class="bi bi-trash-fill"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<a asp-action="Create" class="btn btn-primary"><i class="bi bi-plus-square-fill"></i> Criar Novo</a>


