@model IEnumerable<RazorMVC.Models.Fornecedor>

@{
    ViewData["Title"] = "Index";
}

<h1>Índice de Fornecedores</h1>

<div class="col-md-6 custom-container" style="padding:0px;">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefone)
                </th>
                <th>
                    Ações
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @(item.Telefone != null ? Html.DisplayFor(modelItem => item.Telefone) : "(Sem telefone)")
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success btn-sm"><i class="bi bi-pencil-square"></i></a>
                        <a type="button" class="btn btn-danger btn-sm open-modal-button" data-url="@Url.Action("LoadPartialView", "Fornecedores", new { id = item.Id, view = "Delete" })"><i class="bi bi-trash-fill"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<a asp-action="Create" class="btn btn-primary"><i class="bi bi-plus-square-fill"></i> Criar Novo</a>

